@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Play:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.card {
  @apply bg-[#f4da7e] flex-1 rounded-lg relative overflow-hidden;
}
.card::before {
  content: "";
  @apply bg-[#decb88] h-64 w-1/2 rounded-r-full absolute;
}
.card::after {
  content: "";
  @apply bg-[#806a36] h-32 w-32 absolute -right-8 -top-8 rounded-full;
}
